<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>1C Enterprise</string>
		<key>slug</key>
		<string>1c-enterprise</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ABAP</string>
		<key>slug</key>
		<string>abap</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ABNF</string>
		<key>slug</key>
		<string>abnf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AGS Script</string>
		<key>slug</key>
		<string>ags-script</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AMPL</string>
		<key>slug</key>
		<string>ampl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ANTLR</string>
		<key>slug</key>
		<string>antlr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>API Blueprint</string>
		<key>slug</key>
		<string>api-blueprint</string>
	</dict>
	<dict>
		<key>name</key>
		<string>APL</string>
		<key>slug</key>
		<string>apl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ASN.1</string>
		<key>slug</key>
		<string>asn.1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ASP</string>
		<key>slug</key>
		<string>aspx-vb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ATS</string>
		<key>slug</key>
		<string>ats</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ActionScript</string>
		<key>slug</key>
		<string>as3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ada</string>
		<key>slug</key>
		<string>ada</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Agda</string>
		<key>slug</key>
		<string>agda</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alloy</string>
		<key>slug</key>
		<string>alloy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alpine Abuild</string>
		<key>slug</key>
		<string>alpine-abuild</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ant Build System</string>
		<key>slug</key>
		<string>ant-build-system</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ApacheConf</string>
		<key>slug</key>
		<string>apacheconf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Apex</string>
		<key>slug</key>
		<string>apex</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Apollo Guidance Computer</string>
		<key>slug</key>
		<string>apollo-guidance-computer</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AppleScript</string>
		<key>slug</key>
		<string>applescript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Arc</string>
		<key>slug</key>
		<string>arc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Arduino</string>
		<key>slug</key>
		<string>arduino</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AsciiDoc</string>
		<key>slug</key>
		<string>asciidoc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AspectJ</string>
		<key>slug</key>
		<string>aspectj</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Assembly</string>
		<key>slug</key>
		<string>nasm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Augeas</string>
		<key>slug</key>
		<string>augeas</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AutoHotkey</string>
		<key>slug</key>
		<string>autohotkey</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AutoIt</string>
		<key>slug</key>
		<string>autoit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Awk</string>
		<key>slug</key>
		<string>awk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Batchfile</string>
		<key>slug</key>
		<string>bat</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Befunge</string>
		<key>slug</key>
		<string>befunge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bison</string>
		<key>slug</key>
		<string>bison</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BitBake</string>
		<key>slug</key>
		<string>bitbake</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Blade</string>
		<key>slug</key>
		<string>blade</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BlitzBasic</string>
		<key>slug</key>
		<string>blitzbasic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BlitzMax</string>
		<key>slug</key>
		<string>blitzmax</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bluespec</string>
		<key>slug</key>
		<string>bluespec</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Boo</string>
		<key>slug</key>
		<string>boo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brainfuck</string>
		<key>slug</key>
		<string>brainfuck</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brightscript</string>
		<key>slug</key>
		<string>brightscript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bro</string>
		<key>slug</key>
		<string>bro</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C</string>
		<key>slug</key>
		<string>c</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C#</string>
		<key>slug</key>
		<string>csharp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C++</string>
		<key>slug</key>
		<string>cpp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C-ObjDump</string>
		<key>slug</key>
		<string>c-objdump</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C2hs Haskell</string>
		<key>slug</key>
		<string>c2hs-haskell</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CLIPS</string>
		<key>slug</key>
		<string>clips</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CMake</string>
		<key>slug</key>
		<string>cmake</string>
	</dict>
	<dict>
		<key>name</key>
		<string>COBOL</string>
		<key>slug</key>
		<string>cobol</string>
	</dict>
	<dict>
		<key>name</key>
		<string>COLLADA</string>
		<key>slug</key>
		<string>collada</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CSON</string>
		<key>slug</key>
		<string>cson</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CSS</string>
		<key>slug</key>
		<string>css</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CSV</string>
		<key>slug</key>
		<string>csv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cap'n Proto</string>
		<key>slug</key>
		<string>cap'n-proto</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CartoCSS</string>
		<key>slug</key>
		<string>cartocss</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ceylon</string>
		<key>slug</key>
		<string>ceylon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chapel</string>
		<key>slug</key>
		<string>chapel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Charity</string>
		<key>slug</key>
		<string>charity</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ChucK</string>
		<key>slug</key>
		<string>chuck</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cirru</string>
		<key>slug</key>
		<string>cirru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Clarion</string>
		<key>slug</key>
		<string>clarion</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Clean</string>
		<key>slug</key>
		<string>clean</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Click</string>
		<key>slug</key>
		<string>click</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Clojure</string>
		<key>slug</key>
		<string>clojure</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CoffeeScript</string>
		<key>slug</key>
		<string>coffeescript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ColdFusion</string>
		<key>slug</key>
		<string>cfm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ColdFusion CFC</string>
		<key>slug</key>
		<string>cfc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Common Lisp</string>
		<key>slug</key>
		<string>common-lisp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Component Pascal</string>
		<key>slug</key>
		<string>component-pascal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cool</string>
		<key>slug</key>
		<string>cool</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Coq</string>
		<key>slug</key>
		<string>coq</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cpp-ObjDump</string>
		<key>slug</key>
		<string>cpp-objdump</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Creole</string>
		<key>slug</key>
		<string>creole</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Crystal</string>
		<key>slug</key>
		<string>crystal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Csound</string>
		<key>slug</key>
		<string>csound</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Csound Document</string>
		<key>slug</key>
		<string>csound-document</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Csound Score</string>
		<key>slug</key>
		<string>csound-score</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cucumber</string>
		<key>slug</key>
		<string>cucumber</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cuda</string>
		<key>slug</key>
		<string>cuda</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cycript</string>
		<key>slug</key>
		<string>cycript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cython</string>
		<key>slug</key>
		<string>cython</string>
	</dict>
	<dict>
		<key>name</key>
		<string>D</string>
		<key>slug</key>
		<string>d</string>
	</dict>
	<dict>
		<key>name</key>
		<string>D-ObjDump</string>
		<key>slug</key>
		<string>d-objdump</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DIGITAL Command Language</string>
		<key>slug</key>
		<string>digital-command-language</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DM</string>
		<key>slug</key>
		<string>dm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DNS Zone</string>
		<key>slug</key>
		<string>dns-zone</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DTrace</string>
		<key>slug</key>
		<string>dtrace</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Darcs Patch</string>
		<key>slug</key>
		<string>dpatch</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dart</string>
		<key>slug</key>
		<string>dart</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Diff</string>
		<key>slug</key>
		<string>diff</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dockerfile</string>
		<key>slug</key>
		<string>dockerfile</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dogescript</string>
		<key>slug</key>
		<string>dogescript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dylan</string>
		<key>slug</key>
		<string>dylan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>E</string>
		<key>slug</key>
		<string>e</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EBNF</string>
		<key>slug</key>
		<string>ebnf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ECL</string>
		<key>slug</key>
		<string>ecl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ECLiPSe</string>
		<key>slug</key>
		<string>eclipse</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EJS</string>
		<key>slug</key>
		<string>ejs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EQ</string>
		<key>slug</key>
		<string>eq</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eagle</string>
		<key>slug</key>
		<string>eagle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ecere Projects</string>
		<key>slug</key>
		<string>ecere-projects</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eiffel</string>
		<key>slug</key>
		<string>eiffel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Elixir</string>
		<key>slug</key>
		<string>elixir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Elm</string>
		<key>slug</key>
		<string>elm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Emacs Lisp</string>
		<key>slug</key>
		<string>emacs-lisp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>EmberScript</string>
		<key>slug</key>
		<string>emberscript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Erlang</string>
		<key>slug</key>
		<string>erlang</string>
	</dict>
	<dict>
		<key>name</key>
		<string>F#</string>
		<key>slug</key>
		<string>fsharp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FLUX</string>
		<key>slug</key>
		<string>flux</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FORTRAN</string>
		<key>slug</key>
		<string>fortran</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Factor</string>
		<key>slug</key>
		<string>factor</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fancy</string>
		<key>slug</key>
		<string>fancy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fantom</string>
		<key>slug</key>
		<string>fantom</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Filebench WML</string>
		<key>slug</key>
		<string>filebench-wml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Filterscript</string>
		<key>slug</key>
		<string>filterscript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Formatted</string>
		<key>slug</key>
		<string>formatted</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Forth</string>
		<key>slug</key>
		<string>forth</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FreeMarker</string>
		<key>slug</key>
		<string>freemarker</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Frege</string>
		<key>slug</key>
		<string>frege</string>
	</dict>
	<dict>
		<key>name</key>
		<string>G-code</string>
		<key>slug</key>
		<string>g-code</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GAMS</string>
		<key>slug</key>
		<string>gams</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GAP</string>
		<key>slug</key>
		<string>gap</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GAS</string>
		<key>slug</key>
		<string>gas</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GCC Machine Description</string>
		<key>slug</key>
		<string>gcc-machine-description</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GDB</string>
		<key>slug</key>
		<string>gdb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GDScript</string>
		<key>slug</key>
		<string>gdscript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GLSL</string>
		<key>slug</key>
		<string>glsl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GN</string>
		<key>slug</key>
		<string>gn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Game Maker Language</string>
		<key>slug</key>
		<string>game-maker-language</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Genshi</string>
		<key>slug</key>
		<string>genshi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gentoo Ebuild</string>
		<key>slug</key>
		<string>gentoo-ebuild</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gentoo Eclass</string>
		<key>slug</key>
		<string>gentoo-eclass</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gettext Catalog</string>
		<key>slug</key>
		<string>pot</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Glyph</string>
		<key>slug</key>
		<string>glyph</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gnuplot</string>
		<key>slug</key>
		<string>gnuplot</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Go</string>
		<key>slug</key>
		<string>go</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Golo</string>
		<key>slug</key>
		<string>golo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gosu</string>
		<key>slug</key>
		<string>gosu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Grace</string>
		<key>slug</key>
		<string>grace</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gradle</string>
		<key>slug</key>
		<string>gradle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Grammatical Framework</string>
		<key>slug</key>
		<string>grammatical-framework</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Graph Modeling Language</string>
		<key>slug</key>
		<string>graph-modeling-language</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GraphQL</string>
		<key>slug</key>
		<string>graphql</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Graphviz (DOT)</string>
		<key>slug</key>
		<string>graphviz-(dot)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Groff</string>
		<key>slug</key>
		<string>groff</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Groovy</string>
		<key>slug</key>
		<string>groovy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Groovy Server Pages</string>
		<key>slug</key>
		<string>groovy-server-pages</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HCL</string>
		<key>slug</key>
		<string>hcl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HLSL</string>
		<key>slug</key>
		<string>hlsl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTML</string>
		<key>slug</key>
		<string>html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTML+Django</string>
		<key>slug</key>
		<string>html+django</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTML+ECR</string>
		<key>slug</key>
		<string>html+ecr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTML+EEX</string>
		<key>slug</key>
		<string>html+eex</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTML+ERB</string>
		<key>slug</key>
		<string>html+erb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTML+PHP</string>
		<key>slug</key>
		<string>html+php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTTP</string>
		<key>slug</key>
		<string>http</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hack</string>
		<key>slug</key>
		<string>hack</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Haml</string>
		<key>slug</key>
		<string>haml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Handlebars</string>
		<key>slug</key>
		<string>handlebars</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Harbour</string>
		<key>slug</key>
		<string>harbour</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Haskell</string>
		<key>slug</key>
		<string>haskell</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Haxe</string>
		<key>slug</key>
		<string>haxe</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hy</string>
		<key>slug</key>
		<string>hy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HyPhy</string>
		<key>slug</key>
		<string>hyphy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IDL</string>
		<key>slug</key>
		<string>idl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IGOR Pro</string>
		<key>slug</key>
		<string>igor-pro</string>
	</dict>
	<dict>
		<key>name</key>
		<string>INI</string>
		<key>slug</key>
		<string>ini</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IRC log</string>
		<key>slug</key>
		<string>irc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Idris</string>
		<key>slug</key>
		<string>idris</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Inform 7</string>
		<key>slug</key>
		<string>inform-7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Inno Setup</string>
		<key>slug</key>
		<string>inno-setup</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Io</string>
		<key>slug</key>
		<string>io</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ioke</string>
		<key>slug</key>
		<string>ioke</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Isabelle</string>
		<key>slug</key>
		<string>isabelle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Isabelle ROOT</string>
		<key>slug</key>
		<string>isabelle-root</string>
	</dict>
	<dict>
		<key>name</key>
		<string>J</string>
		<key>slug</key>
		<string>j</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JFlex</string>
		<key>slug</key>
		<string>jflex</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JSON</string>
		<key>slug</key>
		<string>json</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JSON5</string>
		<key>slug</key>
		<string>json5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JSONLD</string>
		<key>slug</key>
		<string>jsonld</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JSONiq</string>
		<key>slug</key>
		<string>jsoniq</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JSX</string>
		<key>slug</key>
		<string>jsx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jade</string>
		<key>slug</key>
		<string>jade</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jasmin</string>
		<key>slug</key>
		<string>jasmin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Java</string>
		<key>slug</key>
		<string>java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Java Server Pages</string>
		<key>slug</key>
		<string>jsp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JavaScript</string>
		<key>slug</key>
		<string>javascript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Julia</string>
		<key>slug</key>
		<string>julia</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jupyter Notebook</string>
		<key>slug</key>
		<string>jupyter-notebook</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KRL</string>
		<key>slug</key>
		<string>krl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KiCad</string>
		<key>slug</key>
		<string>kicad</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kit</string>
		<key>slug</key>
		<string>kit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kotlin</string>
		<key>slug</key>
		<string>kotlin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LLVM</string>
		<key>slug</key>
		<string>llvm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LOLCODE</string>
		<key>slug</key>
		<string>lolcode</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LSL</string>
		<key>slug</key>
		<string>lsl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LabVIEW</string>
		<key>slug</key>
		<string>labview</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lasso</string>
		<key>slug</key>
		<string>lasso</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lean</string>
		<key>slug</key>
		<string>lean</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lex</string>
		<key>slug</key>
		<string>lex</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LilyPond</string>
		<key>slug</key>
		<string>lilypond</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Limbo</string>
		<key>slug</key>
		<string>limbo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Liquid</string>
		<key>slug</key>
		<string>liquid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LiveScript</string>
		<key>slug</key>
		<string>livescript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Logos</string>
		<key>slug</key>
		<string>logos</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Logtalk</string>
		<key>slug</key>
		<string>logtalk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LookML</string>
		<key>slug</key>
		<string>lookml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LoomScript</string>
		<key>slug</key>
		<string>loomscript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lua</string>
		<key>slug</key>
		<string>lua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>M</string>
		<key>slug</key>
		<string>m</string>
	</dict>
	<dict>
		<key>name</key>
		<string>M4</string>
		<key>slug</key>
		<string>m4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MAXScript</string>
		<key>slug</key>
		<string>maxscript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MQL4</string>
		<key>slug</key>
		<string>mql4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MQL5</string>
		<key>slug</key>
		<string>mql5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MTML</string>
		<key>slug</key>
		<string>mtml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Makefile</string>
		<key>slug</key>
		<string>makefile</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mako</string>
		<key>slug</key>
		<string>mako</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Markdown</string>
		<key>slug</key>
		<string>markdown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mask</string>
		<key>slug</key>
		<string>mask</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mathematica</string>
		<key>slug</key>
		<string>mathematica</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Matlab</string>
		<key>slug</key>
		<string>matlab</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Max</string>
		<key>slug</key>
		<string>msp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mercury</string>
		<key>slug</key>
		<string>mercury</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Metal</string>
		<key>slug</key>
		<string>metal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MiniD</string>
		<key>slug</key>
		<string>minid</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mirah</string>
		<key>slug</key>
		<string>mirah</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Modelica</string>
		<key>slug</key>
		<string>modelica</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Modula-2</string>
		<key>slug</key>
		<string>modula-2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Module Management System</string>
		<key>slug</key>
		<string>module-management-system</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Monkey</string>
		<key>slug</key>
		<string>monkey</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Moocode</string>
		<key>slug</key>
		<string>moocode</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MoonScript</string>
		<key>slug</key>
		<string>moonscript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Myghty</string>
		<key>slug</key>
		<string>myghty</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NCL</string>
		<key>slug</key>
		<string>ncl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NSIS</string>
		<key>slug</key>
		<string>nsis</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nemerle</string>
		<key>slug</key>
		<string>nemerle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NetLinx</string>
		<key>slug</key>
		<string>netlinx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NetLinx+ERB</string>
		<key>slug</key>
		<string>netlinx+erb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NetLogo</string>
		<key>slug</key>
		<string>netlogo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NewLisp</string>
		<key>slug</key>
		<string>newlisp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nginx</string>
		<key>slug</key>
		<string>nginx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nimrod</string>
		<key>slug</key>
		<string>nimrod</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nit</string>
		<key>slug</key>
		<string>nit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nix</string>
		<key>slug</key>
		<string>nix</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nu</string>
		<key>slug</key>
		<string>nu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OCaml</string>
		<key>slug</key>
		<string>ocaml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Objective-C</string>
		<key>slug</key>
		<string>objective-c</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Objective-C++</string>
		<key>slug</key>
		<string>objective-c++</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Objective-J</string>
		<key>slug</key>
		<string>objective-j</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Omgrofl</string>
		<key>slug</key>
		<string>omgrofl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Opa</string>
		<key>slug</key>
		<string>opa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Opal</string>
		<key>slug</key>
		<string>opal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OpenEdge ABL</string>
		<key>slug</key>
		<string>openedge-abl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OpenType Feature File</string>
		<key>slug</key>
		<string>opentype-feature-file</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ox</string>
		<key>slug</key>
		<string>ox</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oxygene</string>
		<key>slug</key>
		<string>oxygene</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oz</string>
		<key>slug</key>
		<string>oz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PAWN</string>
		<key>slug</key>
		<string>pawn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PHP</string>
		<key>slug</key>
		<string>php</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PLSQL</string>
		<key>slug</key>
		<string>plsql</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PLpgSQL</string>
		<key>slug</key>
		<string>plpgsql</string>
	</dict>
	<dict>
		<key>name</key>
		<string>POV-Ray SDL</string>
		<key>slug</key>
		<string>pov-ray-sdl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pan</string>
		<key>slug</key>
		<string>pan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Papyrus</string>
		<key>slug</key>
		<string>papyrus</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Parrot</string>
		<key>slug</key>
		<string>parrot</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pascal</string>
		<key>slug</key>
		<string>pascal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Perl</string>
		<key>slug</key>
		<string>perl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Perl6</string>
		<key>slug</key>
		<string>perl6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PicoLisp</string>
		<key>slug</key>
		<string>picolisp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PigLatin</string>
		<key>slug</key>
		<string>piglatin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pike</string>
		<key>slug</key>
		<string>pike</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PogoScript</string>
		<key>slug</key>
		<string>pogoscript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pony</string>
		<key>slug</key>
		<string>pony</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PostScript</string>
		<key>slug</key>
		<string>postscript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PowerBuilder</string>
		<key>slug</key>
		<string>powerbuilder</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PowerShell</string>
		<key>slug</key>
		<string>powershell</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Processing</string>
		<key>slug</key>
		<string>processing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Prolog</string>
		<key>slug</key>
		<string>prolog</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Propeller Spin</string>
		<key>slug</key>
		<string>propeller-spin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Protocol Buffer</string>
		<key>slug</key>
		<string>protocol-buffer</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Puppet</string>
		<key>slug</key>
		<string>puppet</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pure Data</string>
		<key>slug</key>
		<string>pure-data</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PureBasic</string>
		<key>slug</key>
		<string>purebasic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PureScript</string>
		<key>slug</key>
		<string>purescript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Python</string>
		<key>slug</key>
		<string>python</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QML</string>
		<key>slug</key>
		<string>qml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QMake</string>
		<key>slug</key>
		<string>qmake</string>
	</dict>
	<dict>
		<key>name</key>
		<string>R</string>
		<key>slug</key>
		<string>r</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RAML</string>
		<key>slug</key>
		<string>raml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RDoc</string>
		<key>slug</key>
		<string>rdoc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>REALbasic</string>
		<key>slug</key>
		<string>realbasic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>REXX</string>
		<key>slug</key>
		<string>rexx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RUNOFF</string>
		<key>slug</key>
		<string>runoff</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Racket</string>
		<key>slug</key>
		<string>racket</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ragel in Ruby Host</string>
		<key>slug</key>
		<string>ragel-in-ruby-host</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rascal</string>
		<key>slug</key>
		<string>rascal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rebol</string>
		<key>slug</key>
		<string>rebol</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Red</string>
		<key>slug</key>
		<string>red</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Redcode</string>
		<key>slug</key>
		<string>redcode</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ren'Py</string>
		<key>slug</key>
		<string>ren'py</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RenderScript</string>
		<key>slug</key>
		<string>renderscript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RobotFramework</string>
		<key>slug</key>
		<string>robotframework</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rouge</string>
		<key>slug</key>
		<string>rouge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ruby</string>
		<key>slug</key>
		<string>ruby</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rust</string>
		<key>slug</key>
		<string>rust</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SAS</string>
		<key>slug</key>
		<string>sas</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SMT</string>
		<key>slug</key>
		<string>smt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SQF</string>
		<key>slug</key>
		<string>sqf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SQL</string>
		<key>slug</key>
		<string>sql</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SQLPL</string>
		<key>slug</key>
		<string>sqlpl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SRecode Template</string>
		<key>slug</key>
		<string>srecode-template</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SaltStack</string>
		<key>slug</key>
		<string>saltstack</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Scala</string>
		<key>slug</key>
		<string>scala</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Scheme</string>
		<key>slug</key>
		<string>scheme</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Scilab</string>
		<key>slug</key>
		<string>scilab</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Self</string>
		<key>slug</key>
		<string>self</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shell</string>
		<key>slug</key>
		<string>bash</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ShellSession</string>
		<key>slug</key>
		<string>shellsession</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shen</string>
		<key>slug</key>
		<string>shen</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Slash</string>
		<key>slug</key>
		<string>slash</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Smali</string>
		<key>slug</key>
		<string>smali</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Smalltalk</string>
		<key>slug</key>
		<string>smalltalk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Smarty</string>
		<key>slug</key>
		<string>smarty</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spline Font Database</string>
		<key>slug</key>
		<string>spline-font-database</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Squirrel</string>
		<key>slug</key>
		<string>squirrel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stan</string>
		<key>slug</key>
		<string>stan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Standard ML</string>
		<key>slug</key>
		<string>standard-ml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stata</string>
		<key>slug</key>
		<string>stata</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SuperCollider</string>
		<key>slug</key>
		<string>supercollider</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Swift</string>
		<key>slug</key>
		<string>swift</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SystemVerilog</string>
		<key>slug</key>
		<string>systemverilog</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TI Program</string>
		<key>slug</key>
		<string>ti-program</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TLA</string>
		<key>slug</key>
		<string>tla</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TXL</string>
		<key>slug</key>
		<string>txl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tcl</string>
		<key>slug</key>
		<string>tcl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TeX</string>
		<key>slug</key>
		<string>tex</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tea</string>
		<key>slug</key>
		<string>tea</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Terra</string>
		<key>slug</key>
		<string>terra</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thrift</string>
		<key>slug</key>
		<string>thrift</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Turing</string>
		<key>slug</key>
		<string>turing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TypeScript</string>
		<key>slug</key>
		<string>typescript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Unknown</string>
		<key>slug</key>
		<string>unknown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Uno</string>
		<key>slug</key>
		<string>uno</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UnrealScript</string>
		<key>slug</key>
		<string>unrealscript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>UrWeb</string>
		<key>slug</key>
		<string>urweb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VCL</string>
		<key>slug</key>
		<string>vcl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VHDL</string>
		<key>slug</key>
		<string>vhdl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vala</string>
		<key>slug</key>
		<string>vala</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Verilog</string>
		<key>slug</key>
		<string>verilog</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VimL</string>
		<key>slug</key>
		<string>vim</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Visual Basic</string>
		<key>slug</key>
		<string>visual-basic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Volt</string>
		<key>slug</key>
		<string>volt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vue</string>
		<key>slug</key>
		<string>vue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Web Ontology Language</string>
		<key>slug</key>
		<string>web-ontology-language</string>
	</dict>
	<dict>
		<key>name</key>
		<string>WebIDL</string>
		<key>slug</key>
		<string>webidl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>X10</string>
		<key>slug</key>
		<string>x10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>XC</string>
		<key>slug</key>
		<string>xc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>XML</string>
		<key>slug</key>
		<string>xml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>XPages</string>
		<key>slug</key>
		<string>xpages</string>
	</dict>
	<dict>
		<key>name</key>
		<string>XProc</string>
		<key>slug</key>
		<string>xproc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>XQuery</string>
		<key>slug</key>
		<string>xquery</string>
	</dict>
	<dict>
		<key>name</key>
		<string>XS</string>
		<key>slug</key>
		<string>xs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>XSLT</string>
		<key>slug</key>
		<string>xslt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Xojo</string>
		<key>slug</key>
		<string>xojo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Xtend</string>
		<key>slug</key>
		<string>xtend</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yacc</string>
		<key>slug</key>
		<string>yacc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zephir</string>
		<key>slug</key>
		<string>zephir</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zimpl</string>
		<key>slug</key>
		<string>zimpl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>eC</string>
		<key>slug</key>
		<string>ec</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mupad</string>
		<key>slug</key>
		<string>mupad</string>
	</dict>
	<dict>
		<key>name</key>
		<string>nesC</string>
		<key>slug</key>
		<string>nesc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ooc</string>
		<key>slug</key>
		<string>ooc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>wisp</string>
		<key>slug</key>
		<string>wisp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>xBase</string>
		<key>slug</key>
		<string>xbase</string>
	</dict>
</array>
</plist>
