<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   viewModel-ViewControllerMapper.plist
   MVVMGitHub

   Created by XingJie on 2017/4/7.
   Copyright (c) 2017年 xingjie. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
